fastapi[standard]==0.128.*
pydantic==2.12.*
pydantic-settings==2.12.*
requests==2.33.*
loguru==0.7.*
python-multipart==0.0.26
python-jose[cryptography]==3.4.*
passlib==1.7.*
bcrypt==3.2.*
asyncio==3.4.*
firebase-admin==6.2.*
redis[hiredis]==5.0.*
minio==7.2.*
